<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Selenium Webdiver" verbose="1">
    <groups>
        <run>
            <include name="order"/>
        </run>
    </groups>

    <test name="Run on Firefox browser">
        <packages>
            <package name="categories"></package>
            <package name="orders"></package>
            <package name="customers"></package>
        </packages>
<!--        <classes>-->
<!--            <class name="testng.Topic_02_Annotations"/>-->
<!--        </classes>-->
    </test>
</suite>